GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
CORS_ORIGINS=http://localhost:5173,http://localhost:8443

PGHOST=127.0.0.1
PGPORT=5432

PGADMINDATABASE=postgres
PGDATABASE=
PGSCHEMA=trip_database_schema

PGUSER=postgres
PGPASSWORD=
# 해당 값 설정 부탁드립니다(영문명 넣으면 됨.)
PGAUTHOR=choiminjeong